<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RWO WELLNESS időpont foglalás</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/assets/todo-list.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add new item..." required />
        <button type="submit">Foglalás</button>
      </form>
      <ul>
        <% for (let i = 0; i < todos.length; i++) { %>
        <li id="<%= todos[i]._id %>">
          <%= todos[i].item %> - <%= todos[i].updated %>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
