<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RWO WELLNESS időpont foglalás</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" defer></script>
    <script src="/assets/rwo-list.js" defer></script>
    <script src="/assets/dateselect.js" defer></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>RWO WELLNESS</h1>
    <h1>időpont foglalás</h1>
    <div id="rwo-table">
      <form>
        <input
          type="text"
          id="user"
          placeholder="Név / albetét"
          maxlength="30"
          required
        />
        <div class="time">
          <input type="hidden" id="date" />
          <select type="number" id="year"></select>
          <select type="number" id="month"></select>
          <select type="number" id="day"></select>

          <select class="disabled" disabled>
            <option value="">Időpont</option>
          </select>
          <select type="number" id="hour"></select>
          <select type="number" id="minute"></select>
        </div>
        <input
          placeholder="létszám"
          type="number"
          id="personNumber"
          title=" - LÉTSZÁM -"
          min="1"
          max="9"
          required
        />
        <button type="submit">Foglalás</button>
      </form>
      <hr />
      <ul>
        <% for (let i = 0; i < todos.length; i++) { %>
        <li id="<%= todos[i]._id %>">
          Név / albetét: <%= todos[i].user %><br />
          <%= todos[i].date.toLocaleString('hu-HU', {year: "numeric", month :
          "2-digit", day : "2-digit", hour:"2-digit", minute:"2-digit"}) %><br />
          Létszám: <%= todos[i].personNumber %>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
