* {
  -webkit-appearance: none; /* remove safari webkit */
  color: #dedede;
  border-radius: 10px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dedede;
  opacity: 1; /* Firefox */
}

body {
  background: #223c63;
  font-family: tahoma;
}

h1 {
  text-align: center;
  margin: 10px;
}

#rwo-table {
  position: relative;
  max-width: 900px;
  background: #1b2f4d;
  margin: 0 auto;
  padding: 14px;
  box-sizing: border-box;
}

.time {
  text-align: center;
  width: 100%;
}

#dur {
  text-align: center;
  background-color: #222a37;
  margin: 0 auto 4px;
  padding-bottom: 4px;
  width: 70%;
  border-radius: 0 0 10px 10px;
}

input,
select {
  text-align: center;
  width: 90%;
  display: block;
  padding: 14px;
  margin: 0 auto 4px;
  background-color: #222a37;
  border: 0;
  font-size: 1rem;
  transition: background-color 0.5s;
}

select {
  display: inline;
  width: 31%;
}

option {
  text-align: center;
}

input:hover,
select:hover {
  background-color: rgb(67, 173, 67);
}

#duration { 
  margin-bottom: 0;
}

#personNumber {
  width: 30%;
}

button {
  display: block;
  margin: 10px auto 4px;
  padding: 14px;
  width: 90%;
  background: #223c63;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.5s;
}

button:hover {
  background-color: rgb(67, 173, 67);
}

.disabled {
  pointer-events: none;
}

hr {
  margin-top: 8px;
  padding: 0; 
  border: 6px solid #223c63;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  margin: 10px auto 4px;
  padding: 10px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
}

li:hover {
  text-decoration: line-through;
  background: rgba(150, 9, 9, 0.2);
}

.highlight {
  color: white;
  display: inline-block;
}
