body {
  background: #0d1521;
  font-family: tahoma;
  color: #989898;
}

h1 {
  text-align: center;
}

#rwo-table {
  position: relative;
  width: 90%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

input,
select {
  text-align: center;
  width: 80%;
  display: block;
  padding: 14px;
  margin: 0 auto 4px;
  background: #181c22;
  border: 0;
  font-size: 20px;
  color: #989898;
  transition: background-color 0.5s;
}

select {
  display: inline;
  width: 24%;
}

input,
select:hover {
  background-color: rgb(67, 173, 67, 0.5);
  color: white;
}

button {
  display: block;
  margin: 0 auto 4px;
  padding: 14px;
  width: 40%;
  background: #23282e;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: rgb(67, 173, 67, 0.5);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}

li:hover {
  text-decoration: line-through;
  background: rgba(150, 9, 9, 0.2);
}

.highlight {
  color: white;
  display: inline-block;
}
